menu "Chicken Coop Configuration"

    config CHICKEN_COOP_REVOLUTIONS
        int "Open/Close door revolutions"
        range 0 36
        default 12
        help
            Number of revolutions to open or close chicken coop door

    config DEFAULT_FULL_OPEN_CLOSE_DURATION
        int "Open/Close duration [s]"
        range 50 1000
        default 120
        help
            Full duration to open or close the door in seconds

    config CLOCKWISE_IS_OPEN
        bool "Clockwise motor direction means opening the door"
        default True
        help
            Maps the motor revolution direction to whether the door is opened or closed

    config I2C_SDA_PORT
        int "GPIO port for the I2C SDA"
        range 0 48
        default 0
    config I2C_SCL_PORT
        int "GPIO port for the I2C SCL"
        range 0 48
        default 1

    config DOOR_SWITCH_STATE_PORT
        int "GPIO port to detect door state"
        range 0 48
        default 2
        help
            A switch should be connected at this port, indicating whether the door
            is opened or closed

    config STEPPER_IN1_PORT
        int "GPIO port for IN1 of driver"
        range 0 48
        default 4
    config STEPPER_IN2_PORT
        int "GPIO port for IN2 of driver"
        range 0 48
        default 5
    config STEPPER_IN3_PORT
        int "GPIO port for IN3 of driver"
        range 0 48
        default 6
    config STEPPER_IN4_PORT
        int "GPIO port for IN4 of driver"
        range 0 48
        default 7

    choice BLINK_LED
        prompt "Blink LED type"
        default BLINK_LED_GPIO if IDF_TARGET_ESP32
        default BLINK_LED_RMT
        help
            Defines the default peripheral for blink example

        config BLINK_LED_GPIO
            bool "GPIO"
        config BLINK_LED_RMT
            bool "RMT - Addressable LED"
    endchoice

    config BLINK_LED_RMT_CHANNEL
        depends on BLINK_LED_RMT
        int "RMT Channel"
        range 0 7
        default 0
        help
            Set the RMT peripheral channel.
            ESP32 RMT channel from 0 to 7
            ESP32-S2 RMT channel from 0 to 3
            ESP32-S3 RMT channel from 0 to 3
            ESP32-C3 RMT channel from 0 to 1

    config BLINK_GPIO
        int "Blink GPIO number"
        range 0 48
        default 8 if IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32H2
        default 18 if IDF_TARGET_ESP32S2
        default 48 if IDF_TARGET_ESP32S3
        default 5
        help
            GPIO number (IOxx) to blink on and off or the RMT signal for the addressable LED.
            Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

    config BLINK_PERIOD
        int "Blink period in ms"
        range 10 3600000
        default 1000
        help
            Define the blinking period in milliseconds.

endmenu
